

.DS_Store
Thumbs.db
.vscode/
.idea/

__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
conda-env/
mamba-env/

data/raw/
*.fastq
*.fastq.gz
*.fq
*.fq.gz

*.jf
*.histo

results/spades_illumina/tmp/
results/spades_hybrid/tmp/
results/*/K*
results/*/assembly_graph.*


logs/
*.log

*.mauve
*.backbone
*.guide_tree
*.alignment
/tmp/

*.zip


results/**
!results/**/
!results/**/*.fasta
!results/**/*.gbk
!results/**/report.html

!tables/**/*.tsv
!tables/**/*.csv

!figures/**/*.jpg
!figures/**/*.png
